<nav class="navbar navbar-expand-lg navbar-light" style="background: #262640;">
    <a class="navbar-brand" href=""><img src="assets/img/lg.png" alt="" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarNav" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <img src="assets/img/menu.png" alt="" class="btn" width="70px" (click)="diterima()">
                </li>
                <li>
                    <img src="assets/img/icon.png" alt="" class="btn" width="70px" (click)="diterima()">
                </li>
            </ul>
        </div>
    </nav>

<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="background-color: #EFE9E3;">
  <br>
      <div class="d-flex justify-content-around">
          <img src="assets/img/terkirim.png" class="img-fluid" alt="" width="400px" height="300px">
      </div>
      <br>
      <br>
      <div class="d-flex justify-content-around">
          <img src="assets/img/diterima.png" class="img-fluid" alt="" width="600px" height="550px">
      </div>
      <br>
      <div class="d-flex justify-content-around mt-4">
          <img src="assets/img/kk.png" class="btn" alt="" width="300px" height="50px" (click)="diterima()">
      </div>
      <br>
      <br>
  </body>
  </html>