<nav class="navbar navbar-expand-lg navbar-light" style="background: #262640;">
    <a class="navbar-brand" href=""><img src="assets/img/lg.png" alt="" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarNav" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <img src="assets/img/menu.png" alt="" class="btn" width="70px" (click)="diterima()">
                </li>
                <li>
                    <img src="assets/img/icon.png" alt="" class="btn" width="70px">
                </li>
            </ul>
        </div>
</nav>
<body style="background-color: #EFE9E3;">
    <br>
<div class="container">
    <!-- <div class="card p3 mt-5"> -->
        <h3 class="text-center">
            Laporan Data Masyarakat
        </h3>
        <br>
        <!-- <button class="btn btn-sm m-3 w-25" style="background-color:#8EA9EF;"><h5>Search</h5></button> -->
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>No Telepon</th>
                    <th>NIK</th>
                    <th>Alamat</th>
                    <th class="text-center">Aksi</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Rio F</td>
                    <td>088220552069</td>
                    <td>320432199002</td>
                    <td>Rancamanyar</td>
                    <td class="text-center">
                        <button class="btn btn1 btn-sm mr-2">Buka</button>
                        <button class="btn btn1 btn-sm">Selesai</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Yudha</td>
                    <td>089992755373</td>
                    <td>322099177491</td>
                    <td>Regol</td>
                    <td class="text-center">
                        <button class="btn btn1 btn-sm mr-2">Buka</button>
                        <button class="btn btn1 btn-sm">Selesai</button>
                    </td>
                </tr>
            </thead>
        </table>
    <!-- </div> -->
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>