.table {
    background-color: #262640;
    color: #EFE9E3;
    font-family: IBM Plex Serif;
}  


/* 
.card {
    background-color: #EFE9E3;

} */

.btn1 {
    background-color: #8EA9EF;
    border-radius: 10px;
}