<nav class="navbar navbar-expand-lg navbar-light" style="background: #262640;">
    <a class="navbar-brand" href=""><img src="assets/img/lg.png" alt="" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarNav" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <img src="assets/img/menu.png" alt="" class="btn" width="70px" (click)="diterima()">
                </li>
                <li>
                    <img src="assets/img/icon.png" alt="" class="btn" width="70px">
                </li>
            </ul>
        </div>
</nav>
<body style="background-color: #EFE9E3;"> 
<br>
<div class="container" style="background-color: #EFE9E3;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="d-flex justify-content-around">
                <img src="assets/img/lg2.png" class="img-fluid" alt="" width="300px" height="300px">
            </div>
            <div class="card px-5 py-1" id="form1" style="background-color: #EFE9E3;">
                <div class="form-data" v-if="!submitted" style="background-color: #EFE9E3;">
                    <div class="forms-inputs mb-4" > <span>Username</span> <input autocomplete="off" type="text" v-model="text" v-bind:class="{'form-control':true, 'is-invalid' : !validEmail(email) && emailBlured}" v-on:blur="emailBlured = true">
                        <div class="invalid-feedback">A valid email is required!</div>
                    </div>
                    <div class="forms-inputs mb-4"> <span>Password</span> <input autocomplete="off" type="password" v-model="password" v-bind:class="{'form-control':true, 'is-invalid' : !validPassword(password) && passwordBlured}" v-on:blur="passwordBlured = true">
                        <div class="invalid-feedback">Password must be 8 character!</div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                    <div class="d-flex justify-content-around"><img src="assets/img/ok.png" alt="" class="btn" (click)="oke()"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>